@import url('../../../App.css');

/* Header */
.Header {
    height: 76px;
    background: #1EA4CE;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Header Background */
.HeaderBackground {
    background: #1EA4CE;
}

/* Background */
.Background {
    position: absolute;
    left: 83.82%;
    right: 7.22%;
    top: 0%;
    bottom: 94.83%;

    background: #147594;
}

/* Logo */
.Logo {
    width: 141.25px;
    height: 40.32px;
}

.basket-icon {
    width: 24px;
    height: 24px;
}

/* Basket */
.Basket {
    background: #147594;
    width: 129px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 104px;
    height: 76px;
}


@media (max-width:880px) and (min-width:300px) {
    .Header{
        justify-content: flex-start;
    }

    .header-container{
        margin-left: 32px;
    }

    .Basket{
        right: 0px;
    }
}