@import url('../../../App.css');

.Main-Container {
    flex: 1;
}

.empty {
    flex: 1;
    visibility: hidden;
}

.header-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-containerr {
    flex: 1;

}

/* Header */
.Header {
    height: 76px;
    background: #1EA4CE;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Header Background */
.HeaderBackground {
    background: #1EA4CE;
}

/* Background */
.Background {
    position: absolute;
    left: 83.82%;
    right: 7.22%;
    top: 0%;
    bottom: 94.83%;

    background: #147594;
}

/* Logo */
.Logo {
    width: 141.25px;
    height: 40.32px;
}

.basket-icon {
    width: 24px;
    height: 24px;
}

.header-cont {
    display: flex;
    margin-left: 104px;
    margin-right: 104px;
    flex: 1;
}

/* Basket */
.Basket {
    background: #147594;
    width: 129px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 76px;
    float: right;
}


@media (max-width: 1187px) {
    .Basket {
        display: none;
    }
}