.basket-container {
    width: 281px;
    background: #1EA4CE;
    border-radius: 2px;
    padding: 8px;
}

.basket-content {
    background: #FFFFFF;
    border-radius: 2px;
    overflow: hidden;
    padding-top: 18px;
}

.basket-card {
    justify-content: center;
    align-items: center;
    height: 40px;
}

.basket-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.basket-card-container {
    width: 231px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 18px;
    padding-top: 18px;
    border-bottom: 1px solid #F4F4F4;
}

.basket-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
    color: #1EA4CE;
    margin-top: 4px;
}

.basket-product-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    letter-spacing: 0.16px;

    /* Grayscale / 700 */

    color: #191919;
}

.basket-empty-icon {
    height: 100px;
    width: 100px;
}

.container-x {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.basket-button {
    flex: 1;
    flex-direction: row-reverse;
    height: 32px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

.basket-button-count {
    background: #1EA4CE;
    min-height: 32px;
    min-width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
    margin-right: 11px;
}

.basket-button-img {}

.basket-total {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91px;
    height: 40px;

    background: #FFFFFF;
    border: 2px solid #1EA4CE;
    border-radius: 2px;
    margin-left: auto;
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    display: flex;
    align-items: center;
    text-align: right;

    color: #1EA4CE;
}


.test {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

/* width */
.test::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.test::-webkit-scrollbar-track {
    background: #FFFFFF;
}

/* Handle */
.test::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 4px;
}

/* Handle on hover */
.test::-webkit-scrollbar-thumb:hover {
    background: #dddddd;
}

.basket-iconn {
    width: 24px;
    height: 24px;
}

/* Basket */
.Baskett {
    background: #147594;
    width: 129px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 104px;
    height: 76px;
}