/********************************************************************************/
/*******************************  Header-Container  *****************************/
/********************************************************************************/

/* Header */
.header-container {
    height: 76px;
    background: #1EA4CE;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Header Background */
.header-background-color {
    background: #1EA4CE;
}

.main-container {
    flex: 1;
}

/********************************************************************************/
/*******************************  Empty  ****************************************/
/********************************************************************************/

.empty {
    flex: 1;
    visibility: hidden;
}


/********************************************************************************/
/*******************************  Logo  *****************************************/
/********************************************************************************/
.header-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    width: 141.25px;
    height: 40.32px;
}

.header-content {
    display: flex;
    flex: 1;
    padding-left: 104px;
    background-color: red;
    padding-right: 104px;
    background: #1EA4CE;
}

/********************************************************************************/
/*******************************  Basket  ****************************************/
/********************************************************************************/
.header-basket-containerr {
    flex: 1;
}

.header-basket-content {
    background: #147594;
    width: 129px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 76px;
    float: right;
}

.basket-image {
    width: 24px;
    height: 24px;
}

/********************************************************************************/

/* To hide basket on small screens*/
@media (max-width: 1187px) {
    .Basket {
        display: none;
    }
}