.multiselect-container {
    width: 296px;
}

.multiselect-header-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #697488;
    margin-bottom: 12px;
}

.multiselect-content {
    height: 244px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 6px 24px rgba(93, 62, 188, 0.04);
    border-radius: 2px;
}

.multiselect-search-input {
    height: 48px;
    border: 2px solid #E0E0E0;
    border-radius: 2px;
    margin: 24px 24px 17px 24px;
    padding-left: 12px;
}

.multiselect-content-items-container {
    flex: 1;
    margin: 0px 24px 17px 17px;
    overflow-y: scroll;
}

/* width */
.multiselect-content-items-container::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.multiselect-content-items-container::-webkit-scrollbar-track {
    background: #FFFFFF;
}

/* Handle */
.multiselect-content-items-container::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 4px;
}

/* Handle on hover */
.multiselect-content-items-container::-webkit-scrollbar-thumb:hover {
    background: #dddddd;
}

.multiselect-checkbox-background {
    height: 22px;
    width: 22px;
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgba(93, 56, 192, 0.4);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.multiselect-checkbox-background-checked {
    background: #1EA4CE;
}

.multiselect-content-item-label {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.multiselect-content-item-label-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
    flex: 1;
    color: #525252;
    display: flex;
    flex-direction: row;
}

.multiselect-content-item-label-count {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Black / 300 */

    color: #A8A8A8;
    margin-left: 4px;
}


.layout-center-container {
    flex: 1;
}