html {
  width: 100%;
}

body {
  width: 100%;
  background: #FAFAFA;
}

.App {
  background-color: #FAFAFA;
  width: 100%;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans/OpenSans-Regular.ttf") format("woff2"),
    url("./assets/fonts/OpenSans/OpenSans-Regular.ttf") format("woff");
  font-display: swap;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans";
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

Input:focus-visible {
  outline: none;
}

img {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}
