.footer-container {
    height: 25px;
    padding-bottom: 23px;
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 174%;
    margin-left: 8px;
    margin-right: 8px;
}

.footer-color {
    color: #1EA4CE;
}