/********************************************************************************/
/*******************************  Paginator  ************************************/
/********************************************************************************/
.list-container {
    max-width: 608px;
    margin: 8px;
}

.list-content {
    display: flex;
    flex-flow: row wrap;
    background: #ffffff;
}


/********************************************************************************/
/*******************************  Paginator  ************************************/
/********************************************************************************/

.paginator-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.paginator {
    display: flex;
    flex-direction: row;
    width: 475px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #697488;
    padding: 0px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    ;
}

.paginator li {
    width: 475px;
    height: 40px;

}

.paginator .previous a {
    display: flex;
    align-items: center;
    text-align: center;
    color: #697488;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    min-width: 62px;
}

.paginator .next a {
    display: flex;
    align-items: center;
    text-align: center;
    color: #697488;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    min-width: 62px;
}


.paginator a {
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
}

/* Remove Marker*/
.paginator li::marker {
    display: none !important;
    content: none;
}


.paginator li.selected {
    background: #1EA4CE;
    border-radius: 2px;
    color: white;
}

.paginator :focus-visible {
    outline: none !important;
}




/********************************************************************************/
/*******************************  Loading  **************************************/
/********************************************************************************/
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #F2F0FD;
    border-top: 10px solid #1EA4CE;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;

}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 695px;
    width: 100%;
}

/********************************************************************************/